#about.row
	#bio.span6
		%h2 Hello!
		%p Please allow me to introduce myself. My name is Patrick and I am a self-taught Ruby on Rails developer from Boston. Like many Ruby users, I love nice clean code that is readable, reusable, and elegant. I am incredibly passionate about my work and love learning more.
		
		%p I went to school for computer science for a few years before I became a Fine Arts major. As it turns out, I still have code running through these veins, because I'm back in it and I'm really excited about emerging web technologies.
		
		%p I'm still diving into new stuff every day and incorporating it into my work. Here are a few new things I am currently assimilating and practicing:
		:markdown
			-  Ember.js
			-  Backbone.js
			-  Neo4j
			-  Hadoop/HBase + Map-Reduce
			-  Node.js
			-  iOS development
			-  Chef & CloudFormation
			
		=#Please look at my [resume](http://patrickjholloway.herokuapp.com/resume.hmtl) for my skill set and work history. I am actively looking for a  job, particularly within a rails-based social media web application start-up.
	= render partial: "sidenav"