#about.row
  #bio.span6
    %h2 Hello!
    %p My name is Patrick Holloway and I am a self-taught web weveloper from Boston. I love nice clean code that is readable, reusable, and elegant. I am incredibly passionate about my work and love learning more.

    %p I went to school for computer science for a few years before I became a Fine Art Photography major. As it turns out, I still have code running through these veins, because I'm back in it and I'm exploring emerging web technologies like Ember.js, WebSockets, and wearable medical devices.

    %p Being self-taught, I am passionate about giving back to the community that provided me the opportunity educate myself. If it weren't for those who took the time to write blogs, make screencasts, and write books, I would still be working three jobs and barely scraping by. My ambitions are to write code that makes a diffence in people's lives and to help mentor others learn the trade.

    %p Currently I am working as an Ember.js/Rails engineer on the Open Research Exchange Team at PatientsLikeMe in Cambridge, Massachusetts. In the real world I am just a big nerd that likes to watch the Celtics with my wife (loudly), climb mountains (stoicly), and cook Mexican food (really well).

  = render partial: "sidenav"