.row
	.hero-unit.span6
		%h1 Patrick Holloway
		%h2.lead Junior Rails Developer
		%p.pull-left
			%dl
				%dt Front End & UX Design
				%dd HTML, CSS, Javascript
				%dd jQuery & jQuery UI
				%dd AJAX
				%dd Twitter Bootstrap
				%dd Adobe Creative Suite
			%dl
				%dt Rails Development
				%dd HAML & SASS
				%dd Various SQL flavors
				%dd Experience with NoSQL (Mongo, Couch DB, and Neo4j)
				%dd Cloud deployment (Heroku, AWS)
				%dd Implementing all manner of open source ruby gems
				%dd Incorporating available RESTful web APIs
		%a{href: styles_path, class: "btn btn-primary btn-large demo pull-right"}Demo
	= render partial: "sidenav"