.row
  .hero-unit.span6
    %h1 Patrick Holloway
    %h2.lead Ember/Rails Developer @ Kinvey
    %p
      :markdown
        Welcome to my site,
    %p
      This site was started as place to send prospective employers, but now that I am happily employed, it is a repository to collect my ramblings and side projects.
    %p
      Here are a few projects I have going:
      %dl
        %dt
          %a= link_to "Dungeon Post", "https://github.com/patrickjholloway/dungeon-post"
        %dd.spaced-vertical
          An web client I am building for hosting the tabletop RPG, Pathfinder. I built this to teach myself Ember.js.
        %dt
          %a{href: talks_path}Talks
        %dd.spaced-vertical Talks I have given at Boston Developer Meetups on Ember.js

  = render partial: "sidenav"
