%h1 Resume
:markdown
	## Patrick Holloway  
	Ruby on Rails Developer  
	41 Albion St  
	Medford, MA 02155  
	781-960-3127  
	<http://patrickjholloway.herokuapp.com/></code>  
	<patrickjholloway@gmail.com></code>  


	### Summary  
	  Junior Ruby on Rails developer with up-to-date knowledge of best practices and web technologies. Art and design background help compliment a wealth of technology skills. Versed in emerging web development platforms, tools, and languages. Able to quickly learn new technologies and software as needed.

	### Education  
	University of Massachusetts Lowell  
	Graduated Summer 2010  
	BFA Graphic Design  

	### Technical Experience

	Ruby on Rails, Ruby,HTML5, CSS3, jQuery/jQuery UI, Javascript, Twitter Bootstrap, NoSQL(MongoDB/CouchDB), HAML, SASS, Adobe Creative Suite, TextMate.

	Two years of computer science at UMass Lowell prior to beginning graphic design degree program.

	### Related Work History

	#### MusicTown  
	September 2012-Present  
	*Ruby on Rails Developer*

	-	Developing and deploying a full stack Ruby on Rails social media web application from scratch.
	-	Using DRY principals and TDD to create clean and solid code.
	-	Creating back-end, complete with web admin panel.
	-	Developing user interface using technologies like jQuery, jQuery UI, Bootstrap, AJAX, and Page Objects in Javascript.


	#### Patrick Holloway Web Design and Photography
	2009-Present  
	*Sole Proprietor*

	-	Designing custom web pages and generating high quality web content
	-	Developing web interfaces with jQuery, CSS, and Ruby on Rails
	-	Photographing weddings, headshots, and events




	#### Wild Honey Media : Boston, MA
	November 2011-December 2011  
	*Intern*

	-	Photograph local pubs for smart phone app media content
	-	Prepare images for publication using Photoshop and Photoshop Lightroom

	#### Brush Art Gallery : Lowell, MA
	Spring Semester 2010  
	*Web Content and Photoshop Internship*

	-	Generate web galleries for artists on the gallery's website
	-	Using Adobe Photoshop to color correct, straighten perspective, remove backgrounds and generally improve the appearance and consistency of web images
	-	Create photographs of resident and exhibited artist's artwork
	-	Photograph gallery events

	### Other Employment

	#### Patch.com : Andover, MA
	November 2010-Present  
	*Freelance Photographer / Journalist*

	-	Shoot events, sports, and special interest pieces for local news sites throughout the Merrimack Valley
	-	Edit and upload image galleries to the content management system
	-	Collect and submit relevant information for captions
	-	Write corresponding articles to accompany image galleries


	#### FedEx Ground
	June 2010-May 2012  
	*Overnight Loader*


	References
	*Available upon request*
.well
	= link_to "Download", "https://dl.dropbox.com/u/26196414/pholloway2012.doc",class: "btn btn-medium btn-primary"
		
	pholloway2012.doc