.row
  #bio.span6
    %h1 Talks
    %ul
      %li.spaced-vertical
        %b
          %a{href:"http://www.meetup.com/html5boston/events/119440202/"}Lightning Talks on JS Libraries, Frameworks, and Tool Kits
        %br 
        %a{href:"https://twitter.com/bocoup"} @Bocoup
        %br
        %small May 29th, 2013
        %br
        %a.btn{href:"https://speakerdeck.com/patrickjholloway/ember-dot-js-a-brief-intro"} Slides
        %a.btn{href:"https://github.com/patrickjholloway/ember-photo"} Code
        %a.btn{href:"http://www.youtube.com/watch?v=aAMhTiVy1io&t=35m5s"} Video

      %li.spaced-vertical
        %b
          %a{href:"http://www.meetup.com/Boston-Ember-js/events/140201892/"} Ember Templates
        %br 
        %a{href:"https://twitter.com/dockyard"} @Dockyard
        %br
        %small October 10, 2013
        %br
        %p
          HandleBars, Emblem, templated bindings and handlebars helpers.
        %a.btn{href:"https://speakerdeck.com/patrickjholloway/ember-templates"} Slides
        %a.btn{href:"http://www.youtube.com/watch?v=eUCRk94UVOY&t=1m33s"} Video

      %li.spaced-vertical
        %b
          %a{href:"http://www.meetup.com/Boston-Ember-js/events/146077642/"} Ember & WebSockets
        %br 
        %a{href:"https://twitter.com/Brightcove"} @Brightcove
        %br
        %small November 14, 2013
        %br
        %p
          HandleBars, Emblem, templated bindings and handlebars helpers.
        %a.btn{href:"https://speakerdeck.com/patrickjholloway/ember-dot-js-and-websockets"} Slides
        %a.btn{href:"https://github.com/patrickjholloway/websocket_ember_demo"} Code
        %a.btn{href:"http://www.youtube.com/watch?v=D6BhK4LyFAE&t=75m23s"} Video
  = render partial: "sidenav"