/*
 *= require_self
 *= require app_bootstrap
 *= require jquery.ui.all
 */

/* Global mixins and variables */

$background-color:rgb(40,40,40);
$foreground-color:rgb(255,255,255);
$lght-blue:#2A7A8C;
$blue:#176273;
$drk-blue:#063540;
$brown:#403D3A;
$lght-brwn:#E5D9CF;

$hover:#FFBB12;
$highlight-blue: #0084C7;

$content-width:960px;
$body-font: 'Verdana', sans-serif;
$header-font:'Droid Sans', sans-serif;

@mixin small-border{
	border:1px solid black;
}

@mixin small-border-soft{
	border:1px solid #999;
}

@mixin box-reset {
	margin:0;
	padding:0;
	border:0;
}

@mixin box-type1 {
	//@include small-border-soft;
	padding:10px;
	background-color:white;
	color:#000;
	width:100%;
}

@mixin box-type2 {
	border:1px solid #333;
	padding:10px;
	background-color:white;
	color:#000;
	width:100%;
}

@mixin float-left-clear-both {
	float:left;
	clear:both;
}

@mixin padding-sides($padding) {
	padding-left:$padding;
	padding-right:$padding;
}

@mixin margin-sides($margin) {
	margin-left:$margin;
	margin-right:$margin;
}

@mixin vert-padding($padding) {
	padding-top:$padding;
	padding-bottom:$padding;
}

@mixin vert-margin($margin) {
	margin-top:$margin;
	margin-bottom:$margin;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@import "pages.css.scss";
@import "fonts.css.scss";
@import "basic_layout.css.scss";
@import "styles.css.scss";