/*
 *= require_self
 *= require app_bootstrap
 *= require jquery.ui.all
 */

/* Global mixins and variables */

$background-color:rgb(40,40,40);
$content-width:960px;
$body-font: 'Verdana', sans-serif;
$lt-blue:#dee;
$red:#e55;

@mixin box-reset {
	margin:0;
	padding:0;
	border:0;
}

@mixin padding-h($padding) {
	padding-left:$padding;
	padding-right:$padding;
}

@mixin margin-h($margin) {
	margin-left:$margin;
	margin-right:$margin;
}

@mixin padding-v($padding) {
	padding-top:$padding;
	padding-bottom:$padding;
}

@mixin margin-v($margin) {
	margin-top:$margin;
	margin-bottom:$margin;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin inner-shadow {
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .2);
}

@mixin basic-box {
	background-color:#ddd;
	@include border-radius(5px);
	padding:20px;
}


@import "base_layout.css.scss";

@import "pages.css.scss"; 	/* CSS for static pages */
@import "fonts.css.scss"; 	/* CSS for 'fonts' views */
@import "styles.css.scss"; 	/* CSS for 'styles' views */