$lt-blue:#dee;
$red:#e55;

.fixed-width {
	width:960px;
	margin:auto;
}

#side {
	.biopic {
		width:250px;
		margin:20px;
		margin-bottom:0px;
	}
	
	@include border-radius(6px);
	background-color:#555;
	address {
		margin-top:15px;
		padding:19px;
	}

	#side-nav {
		@include border-radius(6px);
		
		padding:19px;
		
		h3 {
			margin-left:10px;
		}

		ul {

		}
	}
}

#bio {
	background-color:$lt-blue;
	color:#000;
	padding:19px;
	@include border-radius(6px);
}

#main {
	.hero-unit {
		background-color:$lt-blue;
		color:#000;
		
		button.demo{
			$linkColor:green;
		}
	}
}